<#@ template language="C#" #>
<#@ import namespace="Schema.Model" #>
<#@ import namespace="Schema.Templates.Utilities" #>
<#@ parameter type="Schema.Model.Entity" name="Metadata" #>
using System;
using System.Collections.Generic;

namespace Sample.Domain.Entities
{
	public class <#= Metadata.Name #> : IEntity
	{
<# foreach (var field in Metadata.Fields) { #>
		public <#= TypesMap.GetDotNetType(field.Type) #> <#= field.Name #> { get; set; }
<# } #>
	}
}
