<#@ template language="C#" inherits="CodeGeneration.Logic.GenericTemplating.CodeTemplate<Schema.Model.Entity>" #>
<#@ import namespace="Schema.Model" #>
using System;

namespace Sample.Presentation.Domain
{
	public class <#= Metadata.Name #>
	{
<#
	foreach (var field in Metadata.Fields)
	{
#>
		public <#= field.Type #> <#= field.Name #> { get; set; }
<#
	}
#>
	}
}
