<#@ template language="C#" #>
<#@ import namespace="Schema.Model" #>

<#@ parameter type="Schema.Model.Entity" name="Metadata" #>

using System;

namespace Sample.Domain
{
	public class <#= Metadata.Name #>
	{
		<#
			foreach (var field in Metadata.Fields)
			{
		#>
				public <#= field.Type #> <#= field.Name #> { get; set; }
		<#
			}
		#>
	}
}
