@{
    ViewBag.Title = "Home";
}

@foreach (var post in Model.Posts)
{
    <div>
        <div style="font-weight: bold">
            <a href="/PostDetails/@post.PostID">@post.Title</a>
        </div>
        <div>@post.Content</div>
        <div style="font-style: italic">Comments: @post.CommentsNumber</div>
    </div>
    <hr/>
}
