<#@ template language="C#" #>
<#@ parameter type="System.Collections.Generic.IEnumerable<Schema.Model.View>" name="Metadata" #>
<# foreach (var view in Metadata) { #>
SOURCE 'ddl/tables/<#= view.Name #>.cql';
<# } #>
