@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Sample.Domain.Views.Comment>
@{
    ViewBag.Title = "Comment";
}

<div>@Model.Content</div>
<div style="font-style: italic">
    Author:
    <a href="/Users/@Model.Author">@Model.Author</a>
</div>
<hr/>

<form action="/Comments/replyTo/@Model.PostID/@Model.CommentID" method="POST">
    <div style="font-weight: bold">
        Reply:
    </div>
    <div>
        Author: <input type="text" name="Author" />
    </div>
    <div>
        Content: <input type="text" name="Content" />
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>
