@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Sample.Manual.Domain.Views.User>
@{
    ViewBag.Title = "User";
}

<div>Nick: @Model.UserName</div>

<form action="/Users/@Model.UserName" method="POST">
    <div>
        First name:
        <input type="text" name="FirstName" value="@Model.FirstName" />
    </div>
    <div>
        Last name:
        <input type="text" name="LastName" value="@Model.LastName" />
    </div>
    <div>
        <input type="submit" value="Update" />
    </div>
</form>

<div style="font-style: italic"><a href="/of/@Model.UserName">See @Model.UserName's posts</a></div>
