@{
    var title = (string)ViewBag.Title;
    var pageTitle = title != null
                        ? title + " - Sample"
                        : "Sample";
}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@pageTitle</title>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
