@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Sample.Manual.WebSite.Modules.Users.Models.UserModel>
@{
    ViewBag.Title = "User";
}

<div>Nick: @Model.UserName</div>
<div>First name: @Model.FirstName</div>
<div>Last name: @Model.LastName</div>
<div style="font-style: italic"><a href="/of/@Model.UserName">See @Model.UserName's posts</a></div>
