@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.PageTitle</title>
    </head>
    <body>
        @RenderBody()
    </body>
</html>
