@using System.Linq
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.IEnumerable<Sample.Manual.Domain.Views.CommentTreeNode>>
<ul>
    @foreach (var node in Model)
    {
        <li>
            <div>
                <div>@node.Comment.Content</div>
                <div style="font-style: italic">
                    Author:
                    <a href="/Users/@node.Comment.Author">@node.Comment.Author</a>
                </div>
                @if (node.Children.Any())
                {
                    @Html.Partial("Comments", node.Children)
                }
            </div>
        </li>
    }
</ul>
