@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Sample.Manual.WebSite.Modules.Posts.Models.IndexModel>
@{
    ViewBag.Title = "Home";
}

@foreach (var post in Model.Posts)
{
    <div>
        <div style="font-weight: bold">
            <a href="/@post.PostID">@post.Title</a>
        </div>
        <div>@post.Content</div>
        <div style="font-style: italic">Author: <a href="/Users/@post.Author">@post.Author</a></div>
        <div style="font-style: italic">Comments: @post.CommentsNumber</div>
    </div>
    <hr/>
}
