@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Sample.Manual.WebSite.Modules.Posts.Models.PostDetailsModel>
@{
    ViewBag.Title = "Post";
}

<div style="font-weight: bold">@Model.Post.Title</div>
<div>@Model.Post.Content</div>
<div style="font-style: italic">
    Author:
    <a href="/Users/@Model.Post.Author">@Model.Post.Author</a>
</div>
<hr/>

<div>Comments:</div>
@Html.Partial("Comments", Model.Comments)

<form action="/@Model.Post.PostID/Comment" method="POST">
    <div style="font-weight: bold">
        Add a comment:
    </div>
    <div>
        Author: <input type="text" name="Author" />
    </div>
    <div>
        Content: <input type="text" name="Content" />
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>
